.buttonContainer {
  border: 1px solid #b3b3e0;
  border-radius: 10px;
  cursor: pointer;
}

.iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%)
    hue-rotate(248deg) brightness(106%) contrast(106%);
}

.buttonTitle {
  font-weight: 700;
  color: var(--color-main);
}

.costs {
  color: var(--color-text-inactive-dark);
  font-weight: 500;
}

.freeMonths {
  font-size: 13px;
}
